{% extends 'layouts/base.html' %}
{% load static %}

{% block title %}Register Student{% endblock title %}

{% block content %}
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Student Registration</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'dashboardv1' %}">Home</a></li>
            <li class="breadcrumb-item active">Register Student</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">
                {% if dojo_name %}
                Register New Student for {{ dojo_name }}
                {% else %}
                Register New Student
                {% endif %}
              </h3>
            </div>
            <div class="card-body">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <!-- Add hidden field for dojo_id -->
                {% if dojo_id %}
                <input type="hidden" name="dojo_id" value="{{ dojo_id }}">
                {% endif %}
                
                <!-- Form fields -->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="id_username">Username</label>
                      {{ form.username }}
                    </div>
                    <div class="form-group">
                      <label for="id_email">Email</label>
                      {{ form.email }}
                    </div>
                    <div class="form-group">
                      <label for="id_first_name">First Name</label>
                      {{ form.first_name }}
                    </div>
                    <div class="form-group">
                      <label for="id_last_name">Last Name</label>
                      {{ form.last_name }}
                    </div>
                    <div class="form-group">
                      <label for="id_password1">Password</label>
                      {{ form.password1 }}
                    </div>
                    <div class="form-group">
                      <label for="id_password2">Confirm Password</label>
                      {{ form.password2 }}
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="id_gender">Gender</label>
                      {{ form.gender }}
                    </div>
                    <div class="form-group">
                      <label for="id_dob">Date of Birth</label>
                      {{ form.dob }}
                    </div>
                    <div class="form-group">
                      <label for="id_address">Address</label>
                      {{ form.address }}
                    </div>
                    <div class="form-group">
                      <label for="id_city">City</label>
                      {{ form.city }}
                    </div>
                    <div class="form-group">
                      <label for="id_province">Province/State</label>
                      {{ form.province }}
                    </div>
                    <div class="form-group">
                      <label for="id_profile_picture">Profile Picture</label>
                      {{ form.profile_picture }}
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12">
                    <button type="submit" class="btn btn-primary float-right">Register Student</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock content %}
